<h1>Listing shouts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th></th>
  </tr>

<% @shouts.each do |shout| %>
  <tr>
    <td><%= shout.name %></td>
    <td><%= link_to shout.title, shout %></td>
    <td><%= link_to 'Destroy', shout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shout', new_shout_path %>
