<h1>Listing Shouts</h1>

<table>
  <tr>
      <td><h2>Name</h2></td>
      <td><h2>Title</h2></td>
    <th></th>
  </tr>

<% @shouts.each do |shout| %>
  <tr>
    <td><%= shout.name %></td>
    <td><%= link_to shout.message[0..5] << '...', shout %></td>
    <td><%= link_to 'Destroy', shout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shout', new_shout_path %>
